h1, h2, h3 {
    color: gray;
}

#main {
    color: #e60202;
}

.heading {
    color: green;
}

ul > li {
    font-weight: bold;
}

section > p {
    color: red;
}

section p {
    font-size: 20px;
}

h1 + h2{
    color: indigo;
}
   
p.first a {
    color: blue;
}

p .first a { 
    color: green; 
}

div ~ p {
    color: salmon;
}

.translucent-box {
	background: hsl(0deg 100% 50% / 0.5);
}