@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

html {
    --primary-text-color: #000;
    --primary-bg-color: #fff;
    --primary-font-family: 'Roboto', sans-serif; 
	--primary-font-size: 0.875rem;
}
footer {
    --footer-text-color: #fff;
    --fuuter-bg-color: #000;
}

html {
    font-size: 100%;
}

div {
    font-size: 1em;
  }

span {
    font-size: 1.6em;
}


strong {
    font-size: 1.6rem;
}
  

body {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.45rem;
}

h2 {
    font-size: 1.3rem;
}

.list-unstyled {
    list-style: none;
}

a {
    text-decoration: none;
}
    /* offset-x | offset-y | blur-radius | color */
    /* color | offset-x | offset-y | blur-radius */
    /* text-shadow: #fc0 1px 0 10px; */
    
    /* offset-x | offset-y | color */
    /* text-shadow: 5px 5px #558abb; */
    
    /* color | offset-x | offset-y */
    /* text-shadow: white 2px 5px; */
    /* offset-x | offset-y Use defaults for color and blur-radius */
    /* text-shadow: 5px 10px; */

div>h2 {
    text-shadow: 1px 1px 2px black;
}

footer {
    color: var(--footer-text-color);
    background: var(--fuuter-bg-color);
}
