@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

body {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.45rem;
}

h2 {
    font-size: 1.3rem;
}

.list-unstyled {
    list-style: none;
}

.text-uppercase {
    text-transform: uppercase;

}

.bg-dark {
    background-color: black;
    
}
.text-white {
    color: white;
}
 
ul.categories li a {
    color: indigo;
    text-decoration: none;
    font-size: 1.2rem;
}

ul.categories li a:hover {
    color: indianred;
    background-color: lightgray;
}

footer {
    --footer-text-color: #fff;
    --fuuter-bg-color: #000;
}

footer {
    color: var(--footer-text-color);
    background: var(--fuuter-bg-color);
}
