*, *::before, *::after {
    box-sizing: border-box;
}

table { 
    width: 50rem; 
    border-collapse: collapse; 
    margin:3rem auto;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
}

th { 
    background-color: indigo; 
    color: white; 
    font-weight: bold; 
}

td, th { 
    padding: calc((10/16)*1rem); 
    border: 1px solid lightgray; 
    text-align: left; 
    font-size: calc((18/16)*1rem); ;
}

@media (max-width: 50rem) {
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
       
    thead tr { 
        display: none;
    }
      
    tr { border: 1px solid darkgrey; }
      
    td { 
        border: none;
        border-bottom: 1px solid lightgray; 
    } 
}
